{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1>Project Help</h1>
                        <span class="subheading"> No need is too small, no job is to big</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-3"> See whats trending </h3>
                <h4 class="text-center mb-4">
                    <span class="badge badge-pill badge-default">Painting</span>
                    <span class="badge badge-pill badge-primary">Cleaning</span>
                    <span class="badge badge-pill badge-warning">Teaching</span>
                    <span class="badge badge-pill badge-success">Applying</span>
                    <span class="badge badge-pill badge-info">Plumbing</span>
                    <span class="badge badge-pill badge-danger">IT Help</span>
                </h4>
                <hr>        
            </div>
        </div>
    </div>
    <div class="container">
    <h3 class="text-center m-5"> What do you need help with? </h3>
    <div class="card-deck justify-content-around">
      {% for category in categories %}

        <a href="#" class="card mb-4">
        <img class="card-img-top img-fluid" src="{{ category.image.url }}" alt="{{ category }}">
        <div class="">
          <h5 class="card-title p-1">{{ category|title }}</h5>
        </div>
        </a>

      
    
      {% cycle '' '<div class="w-100 hidden-md-up"><!-- wrap every 2 on sm--></div>' %}
      {% cycle '' '' '<div class="w-100 hidden-sm-down"><!-- wrap every 3 on md--></div>' %}
      {% endfor %}                
    </div>
    </div>
{% endblock %}