{% extends 'base.html' %}
{% load static %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1>Project Help</h1>
                        <span class="subheading"> No need is too small, no job is to big</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 class="text-center mb-3"> See whats trending </h3>
                <h4 class="text-center mb-4">
                    <span class="badge badge-pill badge-default">Painting</span>
                    <span class="badge badge-pill badge-primary">Cleaning</span>
                    <span class="badge badge-pill badge-warning">Teaching</span>
                    <span class="badge badge-pill badge-success">Applying</span>
                    <span class="badge badge-pill badge-info">Plumbing</span>
                    <span class="badge badge-pill badge-danger">IT Help</span>
                </h4>
                <hr>
                <!-- section -->
                <h3 class="text-center m-5"> What do you need help with? </h3>
                <div class="card-deck justify-content-around">
                  {% for category in categories %}
                  <div class="card w-25 mb-2">
                    <img class="card-img-top" src="https://unsplash.it/300/200/?random" alt="Card image cap">
                    <div class="">
                      <h5 class="card-title p-1">{{ category|title }}</h5>
                    </div>
                  </div>  
                  {% endfor %}                
                </div>
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}